# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.eggs/
*.egg-info/

# Relatórios de teste
reports/
screenshots/
*.xml
*.html

# IDEs
.idea/
*.iml
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Appium / APK
*.apk
*.aab